{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Request Log - Science2 MA Silahul Ulum</title>
  <meta name="description" content="Request log kelas MIPA 2 (2021 - 2022) MA Silahul Ulum">

  <link href="{% static 'root_app/log_page/style.css' %}" rel="stylesheet">
  <script src="{% static 'root_app/log_page/script.js' %}" type="text/javscript"></script>
{% endblock %}

{% block body %}
  <section id="content">
    <h1>Request Log Monitor</h1>
    <div id="log-container">
      {% for log in log_content %}
        <p>{{ log }}</p>
      {% endfor %}
    </div>
    <!-- ads item -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8046468518400304"
      data-ad-slot="9785529442"
      data-ad-format="auto"
      data-full-width-responsive="true">
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </section>
{% endblock %}